{% extends 'base.html' %}

{% block title %}Login to Coral | {{block.super}}{% endblock title %}

{% block page-title-inner %}<h1>Login to Coral</h1>{% endblock page-title-inner %}

{% block notab %}{% endblock notab %}

{% block content-left-inner %}
	<div class="last sec">
	
		{% if next %}
			<p>You must login to Coral in order to visit the page you requested.</p>
		{% endif %}

		<p>Enter your username and password to login.</p>
	
		<div class="form">
			<form method="POST">
				<input type="hidden" name="next" value="{{ next }}" />
				{% for field in form %}
					{% if field.is_hidden %}
						{{field}}
					{% else %}
						<div class="field-wrapper">
							<div class="label">{{field.label_tag}}</div>
							<div class="field">{{field}}</div>
						</div>
					{% endif %}
				{% endfor %}
				{% spaceless %}
					<input class="button-style" type="submit" value="Login" /> or 
					<a href="{% url index %}">
					Cancel and go back</a>
				{% endspaceless %}		
			</form>
			
			{% if form.errors %}
				<div class="form-errors">Your username and password didn't match. Please try again.</div>
			{% endif %}
			
		</div>
	</div>
{% endblock %}
