table.object_list
{
	border: 1px solid #CCCCCC;
	width: 100%;
	margin-bottom: 20px;
}

div.bug_list
{
	width: 70%;
}

table.object_list th, table.object_list th a
{
	background-color: #6699CC;
	border-top: 1px #336699 solid;
	border-bottom: 1px #336699 solid;
	color: white;
	font-weight: bold;
	font-size: 17px;
	padding: 7px 15px;
	font-family: Helvetica, sans-serif;
}

table.object_list td
{
	padding: 2px 20px;
	font-size: 14px;
	border: none;
	color: #444444;
	height: 30px;
}

table.object_list td.id_column
{
	width: 110px;
	text-align: center;
}

table.object_list tr.object_row {
	background-color: #F5F5F5;
}

table.object_list tr.object_row td span.failed_data {
	color: red;
	font-weight: bold;
}

table.object_list td ul li {
	display: inline;
}

table.object_list td ul li a {
	height: 0px;
	width: 25px;
	background-image: url("/media/icons/tool_sprite.png");
	background-repeat: no-repeat;
	padding-top: 24px;
	overflow: hidden;
	float: left;
}


table.object_list td ul.tool_buttons {
	width: 100px;
	margin-left: 20px;
}
table.object_list td ul.control_buttons {
	width: 50px;
	margin-left: 20px;
}
table.object_list td ul li a.tool_button {
	background-position: 0 0;
}

table.object_list td ul li a.cross_button {
	background-position: -23px 0;
}

table.object_list td ul li a.info_button {
	background-position: -46px 0;
}

table.object_list td ul li a.zoom_button {
	background-position: -69px 0;
}

/* HOVER */
table.object_list td ul li a.tool_button:hover {
	background-position: 0 -24px;
}

table.object_list td ul li a.cross_button:hover {
	background-position: -23px -24px;
}

table.object_list td ul li a.info_button:hover {
	background-position: -46px -24px;
}

table.object_list td ul li a.zoom_button:hover {
	background-position: -69px -24px;
}

/* CONTROL BUTTONS */
table.object_list td ul.control_buttons li a,
table.object_list td ul.control_buttons li a {
	background-image: url("/media/icons/control_sprite.png");
}

table.object_list td ul.control_enabled li a.pause_button {
	background-position: 0 0;
}

table.object_list td ul.control_enabled li a.play_button {
	background-position: -23px -24px;
}

table.object_list td ul.control_enabled li a.pause_button:hover {
	background-position: 0 -24px;
}

table.object_list td ul.control_enabled li a.play_button:hover {
	
}

table.object_list td ul.control_disabled li a.pause_button {
	background-position: 0 -24px;
}

table.object_list td ul.control_disabled li a.play_button {
	background-position: -23px 0;
}

table.object_list td ul.control_disabled li a.pause_button:hover {
	
}

table.object_list td ul.control_disabled li a.play_button:hover {
	background-position: -23px -24px;
}

table.object_list td ul.control_client_disabled li a.pause_button {
	background-position: 0 0;
}

table.object_list td ul.control_client_disabled li a.play_button {
	background-position: -23px 0;
}

/* Zoom In Button (for File Operations) */

table.object_list td ul.zoom_in_button li a {
	background-position: 0 0;
	background-image: url("/media/icons/zoom-sprite.png");
	width: 25px;
	margin-left: 32px;
}

table.object_list td ul.zoom_in_button li a:hover {
	background-position: 0 -24px;
}

/* Add Button + Wrapper */

div.object_list_wrapper {
	float: left;
	width: 90%;
}

div.add_button {
	float: right;
	position: relative;
	right: 10px;
	top: 1px;
	background: url("/media/coral/icons/24-em-plus.png") no-repeat #F5F5F5;
	background-position: 2px 2px;
	border: 1px solid #CCCCCC;
	border-bottom: none;
	padding: 0 10px 0 30px;
	height: 30px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

div.add_button a {
	display: block;
	line-height: 1.8em;
	font-weight: bold;
}

ul.meta {
	display:block;
	margin-top:5px;
	background:#6699CC;
	border:1px solid #336699;
	float:left;
	padding:0px 15px;
	margin-left:15px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;}
ul.meta li {
	font-weight:bold;
	color:#fff;
	padding:5px 15px 5px 0px;
	float:left;
	display:inline-block;}
ul.meta li small {
	font-weight:normal;
	color:#0C97C6;}
ul.meta li a {
	font-weight:normal;
	color: #ccc;}

