{% load accounts_extras %}
{% load tracker %}
{% load gravatar %}

<div class="issue-summary-inner clearfix">
	<div class="left">
		<a href="{{object.get_absolute_url}}" title="{{object.id}} ({{object.priority.name}})"><div class="id priority-level-{{object.priority.level}}"><span class="length-{{object.id|numchars}}">{{object.id}}</span></div></a>
	</div>
	<div class="right">
		<div style="float: right; position: relative; top: 15px;" class="clearfix">
			{% gravatar_img_for_user object.raised_by 50 %}
		</div>
		
		<h3><a href="{{object.get_absolute_url}}" title="{{object.description|truncatewords:20}}">
			{% ifequal object.assigned_to user %}
				{% if not object|viewed_by:user %}
					<strong>{{object.title|truncatechars:70}}</strong>
				{% else %}
					{{object.title|truncatechars:75}}
				{% endif %}
			{% else %}
				{{object.title|truncatechars:75}}
			{% endifequal %}
		</a></h3>
		
		{% if object.get_tags %}
			<div class="tags">
				{% for tag in object.get_tags %}
					<a class="issue-tag" title="See issues tagged '{{tag}}'" href="{% url tracker_issues_by_tag tag %}{% ifnotequal filter default_filter %}?f={{filter}}{% endifnotequal %}">{{tag}}</a>
				{% endfor %}
			</div>
		{% endif %}
		
		<div class="more-info hidden">
			{% with object.created_at|naturalday as naturalday %}
			{% with object.created_at|date:"dS F Y" as properdate %}
			{% with object.created_at|date:"H:i" as time %}
				<p>Raised by <a href="{{object.raised_by.get_absolute_url}}">{{object.raised_by|printuser}}</a> {% if naturalday %}<strong>{{naturalday}}</strong>{% else %}on <strong>{{properdate}}</strong>{% endif %} at {{time}}.</p>
				<p>Assigned to <a href="{{object.assigned_to.get_absolute_url}}">{{object.assigned_to|printuser}}</a>.</p>
				<p>Currently <strong>{{object.get_status_display}}</strong>, with priority <strong>{{object.priority.name}}</strong>.</p>
			{% endwith %}
			{% endwith %}
			{% endwith %}
		</div>
		
	</div>
	
	<div class="raised">
		Raised by <a title="{{object.raised_by|printuser}}'s Profile" href="{{object.raised_by.get_profile.get_absolute_url}}">{{object.raised_by|printuser}}</a> {{object.created_at|timesince}} ago
	</div>
</div>
