{% load accounts_extras %}
{% load tracker %}
{% load gravatar %}

{% if not object_list %}
	<div class="last sec">
		No issues match your filter.
	</div>
{% else %}

	<div class="issue-list {% if is_paginated %}paginated{% endif %}">
	{% for object in object_list|dictsortreversed:"last_updated" %}
		{% with object.created_at|naturalday as natural_day %}
			<div class="issue-summary {% ifin user object.starred_for %}starred{% else %}unstarred{% endifin %}{% if forloop.last %} last{% endif %}" id="issue-summary-{{object.id}}">
				<div class="issue-summary-inner clearfix">
					{# <div class="hover-fix"></div> #}
					<div class="left">
						<a href="{{object.get_absolute_url}}" title="{{object.id}} ({{object.priority.name}})"><div class="id priority-level-{{object.priority.level}}"><span class="length-{{object.id|numchars}}">{{object.id}}</span></div></a>
					</div>
					<div class="right">
						<div style="float: right; position: relative; top: 15px;" class="clearfix">
							{% gravatar_img_for_user object.raised_by 50 %}
						</div>
						
						<h3><a href="{{object.get_absolute_url}}" title="{{object.description|truncatewords:20}}">{{object.title|truncatechars:75}}</a></h3>
						
						<div class="tags">
							{% for tag in object.get_tags %}
								<a class="issue-tag" title="See issues tagged '{{tag}}'" href="{% url tracker_issues_by_tag tag %}{% ifnotequal filter default_filter %}?f={{filter}}{% endifnotequal %}">{{tag}}</a>
							{% endfor %}
						</div>
						
						<div class="more-info hidden">
							{% with object.created_at|naturalday as naturalday %}
							{% with object.created_at|date:"dS F Y" as properdate %}
							{% with object.created_at|date:"H:i" as time %}
								<p>Raised by <a href="{{object.raised_by.get_absolute_url}}">{{object.raised_by|printuser}}</a> {% if naturalday %}<strong>{{naturalday}}</strong>{% else %}on <strong>{{properdate}}</strong>{% endif %} at {{time}}.</p>
								<p>Assigned to <a href="{{object.assigned_to.get_absolute_url}}">{{object.assigned_to|printuser}}</a>.</p>
								<p>Currently <strong>{{object.get_status_display}}</strong>, with priority <strong>{{object.priority.name}}</strong>.</p>
							{% endwith %}
							{% endwith %}
							{% endwith %}
						</div>
						
					</div>
					
					{# <a href="#"><div class="expander"></div></a> #}
					
					<div class="raised">
						<div class="raised-name">Raised by <a title="{{object.raised_by|printuser}}'s Profile" href="{{object.raised_by.get_profile.get_absolute_url}}">{{object.raised_by|printuser}}</a> {{object.created_at|timesince}} ago</div>
					</div>
				</div>
			</div>
		{% endwith %}
	{% endfor %}
	</div>

	{% if is_paginated %}
		{% paginator %}
	{% endif %}

{% endif %}
