{% extends 'base.html' %}
{% load tracker %}
{% load accounts_extras %}

{% block page-title-inner %}
<h1>Home</h1>
{% endblock page-title-inner %}

{% block content-left-inner %}

	<div class="last sec">
		<p>Welcome to Coral. This application is designed to be a simple, easy to use issue tracker. You can use it for tracking issues with any type of project, but it's most suited to software development.</p>
	</div>
	
	{% if user.is_authenticated %}
		<div>
			<h2 class="indented">Issues Assigned to You</h2>
			
			{% if not assigned_issues %}
				<div class="last sec">
					<p>There are no issues assigned to you at present.</p>
				</div>
			{% else %}

				<div class="issue-list {% if is_paginated %}paginated{% endif %}">
				{% for object in assigned_issues|slice:":5" %}
					{% include 'tracker/issue_summary.html' %}
				{% endfor %}
				</div>

				{% if is_paginated %}
					{% paginator %}
				{% endif %}
			{% endif %}
		</div>
	{% else %}
		
	{% endif %}
	

{% endblock content-left-inner %}
